*{margin:0; padding:0; box-sizing: border-box;}
*::defore, *::after{box-sizing: border-box;}
ol,ul{list-style: none;}
h1,h2,h3{font-weight: normal;}
a{text-decoration: none;}
/*这里是通用的类*/
body {
    font-size: 3.7vw;
}
h2.title {
	/*border:1px solid red;*/
	font-weight: normal;
	font-size: 4.5vw;
    margin: 5.3vw 0;
    border-left: 0.5vw solid #d43c33;
    padding-left: 2vw;
    line-height: 1;
}
/*----------------------------*/
.topbar {
	background-color: #d43c33;
	padding: 3.95vw 2.6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar .logo {
    height: 6.5vw;
}
.topbar .downloadApp {
	line-height: 8vw;
	border: 1px solid #fff;
	border-radius: 4.25vw;
	padding: 0 3vw;
	font-size: 1.1em;
	color: #fff;
}


.siteNav{}
.siteNav > ol {
	display: flex;
    text-align: center;
    border-bottom: 1px solid #ccc;
    /*line-height: 12vw;*/
    font-size: 1.1em;
}
.siteNav > ol > li {
	flex: 1;
	/*border:1px solid black;*/
}
.siteNav > ol > li.active{
	color: #d43c33;
}
.siteNav > ol > li>span{
	line-height: 10vw;
	display: inline-block;
	position: relative;
}
.siteNav > ol > li.active>span::before{
	content: "";
	border-bottom: 2px solid #d43c33;
	position: absolute;
    bottom: 0;
    left: -2vw;
    right: -2vw;
}
/*推荐歌单部分*/
.playlists{
	margin-top: 6vw;
}
.playlists>ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.playlists>ul>li {
	width: calc(33.333333% - 0.5vw);
	margin-bottom: 4vw;
}
.playlists>ul>li p{
	padding: 0 1vw;
	display: -webkit-box;
	line-height: 5vw;
    height: 10vw; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlists>ul>li>img {
	width: 100%;
}

/*最新音乐部分*/
.latestMusic{}
.latestMusic>p {
	text-align: center;
}
.latestMusic>ol {
	padding-left: 2.5vw;
}
.latestMusic>ol>li{
	border-bottom: 1px solid #f1f1f2;
	position: relative;
	padding: 1vw 0;
}
.latestMusic>ol>li a {
	color: #888;
}
.latestMusic>ol>li>p {
	font-size: 3.73vw;
	padding: 1vw 0;
	color: #888;
	display: flex;
	align-items: center;
}
.latestMusic>ol>li>a h3 {
	font-size: 4.53vw;
    color: #000;
	/*margin-top: 2vw;*/
}
.latestMusic .play-circled {
    fill: #aaa;
    width: 6vw;
    height: 6vw;
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
}
.latestMusic .icon.sq {
	fill: #fe672e;
	height: 4vw;
	width: 4vw;
	margin-right: 0.5vw;
}
/*最后art部分*/
section.art {
	background: transparent url(https://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922) no-repeat center;
	background-size: cover;
	padding-top: 17.8vw;
	padding-bottom: 3vw;
}
section.art .logosvg {
	height: 11.7vw;
	width: 61.3vw;
    display: block;
    margin: 0 auto;
    /*margin-top: 5vw;*/
    /*padding-top: 20vw;*/
}
section.art .openApp {
	display: block;
	max-width: 81.3vw;
	margin: 0 auto;
	text-decoration: none;
	color: #d33a31;
	font-size: 4.3vw;
	/*line-height: 15vw;*/
	text-align: center;
	padding: 1vw 0;
    line-height: 8.3vw;
	border: 1px solid;
	border-radius: 5.15vw;
	margin-top: 4vw;
}
section.art .copyright {
	font-size: 3.2vw;
	transform: scale(.75);
	color: #888;
	text-align: center;
	margin-top: 1vw;
}
